[Unit]
Description=WOL Packet Listener Service
After=network.target

[Service]
ExecStart=/usr/bin/wolp
Restart=always
User=root
WorkingDirectory=/etc/wolp
Environment="CONFIG_FILE=/etc/wolp/wolp.json"
Environment="WEBUI_DIR=/usr/share/wolp/webui"
SyslogIdentifier=wolp

[Install]
WantedBy=multi-user.target
